.jxjhcx .grxx{
	width: 100%;
	margin: 5% 0;
}
.jxjhcx .grxx li{
	margin: 2%;
	width: 96%;
	font-size: 14px;
	line-height: 23px;
}
.djkscx .grxx{
	width: 100%;
	margin: 5% 0;
}
.djkscx .grxx li{
	margin: 2%;
	width: 96%;
	font-size: 14px;
	line-height: 23px;
}