.message{
    width: 100%;
    position: relative;
}
.message .nav{
    width: 50%;
    margin: 3% 25%;
    border: 1px solid #5FB878;
    overflow: hidden;
    border-radius: 5px;
    font-size: 12px;
}
.message .nav li{
    width: 50%;
    text-align: center;
    color: #5FB878;
    background: #FFFFFF;
    height: 28px;
    line-height: 28px;
    float: left;
}
.message .nav .liactive{
    color: #ffffff;
    background: #5FB878;
}
.message  .messagediv{
    width: 94%;
    margin: 3%;
}


.message  .messagediv  li{
    padding: 7px 0;
    border-bottom: 1px solid #c7c7c7;
    /* border-radius: 5px; */
    margin-bottom: 3%;
    overflow: hidden;
    position: relative;
    background: #fff;
    box-shadow: darkgrey 0px 0px 14px 1px;
    border-radius: 5px;
}
.message  .messagediv  li .top-border{
    width: 10%;
    position: absolute;
    top: 0%;
    right: 0%;
}
.message  .messagediv  li .left{
    float: left;
    font-size: 20px;
    margin-left: 1%;
    text-align: right;
}
.message  .messagediv  li .left i{
    margin-top: 3px;
    color: #5fb878;
}
.message  .messagediv  li  .more{
    color: #007DDB;
}
.message  .messagediv  li .right{
    float: left;
    width: 90%;
}
.message  .messagediv .title{
    width: 97%;
    margin-left: 3%;
    font-size: 14px;
    color: #000;
    line-height: 26px;
    font-weight: bold;

}
.message  .messagediv .time{
    width: 97%;
    margin-left: 3%;
    font-size: 12px;
    color: #666;
    line-height: 18px;
}
.message  .messagediv .people{
    width: 97%;
    margin-left: 3%;
    font-size: 14px;
    color: #666;
    text-align: right;
    line-height: 26px;
}


.messageMore{
    width: 100%;
    position: relative;
}
.messageMore .first{
    width: 96%;
    margin: 2%;
    padding: 10px 0;
    border-bottom: 1px solid #666666;
}
.messageMore .first .titleT{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.messageMore .first .timeT{
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
}
.messageMore .contT{
    width: 96%;
    margin: 2%;
    padding: 10px 0;

}
.messageMore .contT p{
    font-size: 14px;
    /*line-height: 14px;*/
    color: #333333;
    line-height: 20px;
    text-align: justify;
}
.messageMore .footT{
    width: 96%;
    margin: 2%;
    padding: 10px 0;

    font-size: 14px;
    /*line-height: 14px;*/
    color: #333333;
    line-height: 20px;
    text-align: right;
}

.messageMore .listText{
    width: 96%;
    margin: 2%;
}
.messageMore .listText li{
    width: 96%;
    padding: 2%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    border-top: 10px solid #009E94;
    box-shadow: darkgrey 0px 0px 14px 1px;
    margin-bottom: 2%;
    background-color: white;
}
.messageMore .listText li .titleT{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    border-bottom: 1px solid #DDDDDD;
}
.messageMore .listText p{
    font-size: 14px;
    /*line-height: 14px;*/
    color: #333333;
    line-height: 20px;
    text-align: justify;
}
.messageMore .listText .timeT{
    width: 100%;
    text-align: right;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
}