.school img {
    margin: 0;
    padding: 0;
    width: 100%;
}

.school {
    line-height: 0;
}

.lt {
    width: 100%;
    height: 36px;
    position: relative;
    text-align: center;
    background: #5FB878;
    color: #060606;
}

.lt p {
    line-height: 36px;
    font-size: 14px;
    color: #ffffff;
}

.xxtable th, td {
    width: 80px;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
}

.xxtable th {
    border-bottom: 1px solid #f3f3f3;
}

.xxtable table {
    border: none;
    width: 100%;
}

/*.xxtable{*/
    /*margin-top: 242px;*/
/*}*/
/*.xxtable  table tbody{*/
    /*margin-top: 242px;*/
/*}*/

/*.xxtable table thead {*/
    /*background-color: white;*/
    /*position: fixed;*/
    /*top: 201px;*/
/*}*/
.container::-webkit-scrollbar {
    display: none;
}
