.list{
	width: 100%;
	text-align: center;
}
.list .tablediv{
	width: 94%;
	margin: 3%;
}
.list .tablediv .tablename{
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.list .tablediv table{
	width: 100%;
	font-size: 12px;
}
.list .tablediv  table td{
	/*width: 20%;*/
	padding: 8px 5px;
	border: 1px solid #ddd;
	color: rgb(102,102,153);
	 text-align: center;   
}
.list .tablediv  table td:nth-child(1){	
	text-align: center;	    
}
.list .tablediv  table td:nth-child(2){	
	text-align: center;	    
}
.list .tablediv  table tr:nth-child(even) td{
	background-color: #fff;
}
.list .tablediv  table tr:nth-child(odd) td{
	background-color: #eff3f5;
}
.list .tablediv  table th{
	text-align: center;
	width: 20%;
	padding: 8px 5px;
	border: 1px solid #ddd;
	background: #eff3f5;
    color: rgb(0,51,153);
}
.list .tablediv .bottom{
	width: 100%;
	line-height: 40px;
	position: relative;	
}
.list .tablediv input[type="checkbox"]{
	width: 18px;
	height: 18px;
}

.list .tablediv .check{
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #666;
	border-radius: 4px;
}
.list .tablediv .active{
	background: #53acb7;
	border: 1px solid #53acb7;
}       



.list .tablediv .bottom p{
	color: #000;
	font-weight: bold;
	font-size: 14px;
	text-align: right;
}
.btnjf{
	display: inline-block;
	width: 28%;
	text-align: center;
	font-size: 12px;
	background: #53acb7;
	color: #fff;
	line-height: 26px;
	position: absolute;
	top: 7px;
	left: 2%;
	border-radius: 4px;
	
}
.tanchudd{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.5);
    font-size: 14px;
}
.tanchudd .cont{
    width: 80%;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 30%;
    left: 10%;
    overflow: hidden;
}
.tanchudd .title{
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: #D8D8D8;
    border-bottom: 1px solid #a1a1a1;
    text-indent: 1em;
}
.tanchudd .conttext{
    width: 90%;
    margin: 5%;
    text-align: justify;
    line-height: 24px;
}
.tanchudd .foot{
    width: 100%;
    text-align: center;
}
.tanchudd .foot a{
    display: inline-block;
    width: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    text-align: center;
    /*border-radius: 5px;*/
    color: #FFFFFF;
}
.tanchudd .btnno{
    background: #666565;
}
.tanchudd .btnyes{
    background: #3ab45d;
}
	