@media screen  and (max-width: 1599px) {
    .layui-table th, .layui-table td {
        font-size: 12px !important;
    }

    .layui-card-header {
        font-size: 13px !important;
    }

    .layui-btn {
        font-size: 13px !important;
    }

    .layui-icon {
        font-size: 14px;
    }

    .layui-nav * {
        font-size: 13px;
    !important;
    }

    .layui-btn-sm {
        font-size: 12px !important;
    }

    .layui-tab-title li {
        font-size: 12px;
    }
}

@media screen   and (min-width: 1600px) and (max-width: 2000px) {
    .layui-tab-title li {
        font-size: 15px !important;
    }

    .layui-nav * {
        font-size: 15px;
    }

    .layui-layout-admin .layui-logo {
        font-size: 15px;
    }
}

.layuiadmin-card-header-auto {
    padding-top: 15px;
    padding-bottom: 0px;
    height: auto;
}

.layui-form-item .layui-input-inline {
    width: 210px !important;
}

.layui-form-item .layui-inline {
    margin-right: 50px !important;
}